<div class="w-ajax">
	<div class="ajax-info">
		<div class="close-btn style1"></div>
		<h2>Оплата бонусами</h2>
		<p>Тратить бонусы так же легко, как и накапливать, ведь <b>1 бонус = 1 грн.</b> Посетите любого партнера сети MAXI, у которого действует предложение с бонусами, и покажите во время расчета на кассе вашу карту – необходимая сумма будет автоматически списана с вашего бонусного счета. На чеке всегда будут отображены ваш баланс и сумма бонусов, которой вы только что расплатились.</p>
	</div>
</div>